main{
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 0 #888888;
}
.grid-container{
    width:100%;
}
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    margin:0 auto;
    width:45%;
    clear: left;
}
.flex-item {
    background: pink;
    flex: 1 0 auto;
}
.flex-item:before {
    content:'';
    float:left;
    padding-top:100%;
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: flex; 
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:2em;
    margin-top:2em;
}
